<div class="col-md-6">
  <form action="/posts/<%= defined?(post) ? "update/#{post['id']}" : 'add' %>" method="POST" class="form">
    <div class="row">
      <label>Title</label>
      <input type="text" name="title" class="form-control" value="<%= post['title'] if defined?(post['title']) %>">
    </div>
    <div class="row">
      <label>Author</label>
      <select name="author_id" class="form-control">
        <% authors.each do |author| %>
              <option value="<%= author['id'] %>" <%= 'selected=true' if (defined?(post['author_id']) && post['author_id'] == author['id']) %>"><%= author['username'] %></option>
        <% end %>
      </select>
    </div>
    <div class="row">
      <label>Content</label>
      <textarea name="content" class="form-control" rows="6"><%= post['content'] if defined?(post['content']) %></textarea>
    </div>
    <div class="row">
      <button type="submit" class="btn <%= defined?(post) ? 'btn-primary' : 'btn-success' %>"><%= defined?(post) ? 'Update post' : 'Add post' %></button>
    </div>
  </form>
</div>