<div class="control-bar">
  <a href="/posts/add" class="btn btn-success">Add post</a>
</div>
<table class="table table-hover">
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Content</th>
    <th>Author</th>
    <th>Actions</th>
  </tr>
<% posts.each do |post| %>
    <tr>
      <td><%= post['id'] %></td>
      <td><%= post['title'] %></td>
      <td><%= post['content'] %></td>
      <td><%= post['username'] %></td>
      <td>
        <a href="/posts/update/<%= post['id'] %>" title="Обновить"><i class="glyphicon glyphicon-pencil"></i></a>
        <a href="/posts/view/<%= post['id'] %>" title="Просмотр"><i class="glyphicon glyphicon-eye-open"></i></a>
        <a href="/posts/delete/<%= post['id'] %>" title="Удалить"><i class="glyphicon glyphicon-trash"></i></a>
      </td>
    </tr>
<% end %>
</table>